#  2.Data Science Tools and Ecosystem

3.In this notebook, Data Science Tools and Ecosystem are summarized.

10.List of objectives:

- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

- Exercise 3 - Create a markdown cell for an introduction. (1 pt)

- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

 - Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

- Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

- Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

- Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

4.Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SAS
5. MATLAB
6. Scala

5.Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. TensorFlpw
5. PyTorch

# 6.TABLE of data science tools
| Tool         | Description                                 |
|--------------|---------------------------------------------|
| Jupyter      | Interactive notebooks for data exploration   |
| Python       | Programming language for data analysis       |
| R            | Statistical programming language             |
| Pandas       | Data manipulation and analysis library       |
| NumPy        | Numerical computing library                  |
| scikit-learn | Machine learning library                     |
| TensorFlow   | Deep learning framework                      |
| Keras        | High-level neural networks API                |
| Matplotlib   | Data visualization library                   |
| Seaborn      | Statistical data visualization library       |
| SQL          | Query language for relational databases      |
| Tableau      | Data visualization and reporting tool        |
| Apache Spark | Distributed data processing framework        |
| Hadoop       | Distributed storage and processing framework |

### 7.Arithmetic Expression Examples

examples of arithmetic expressions:

1. Addition: `2 + 4 = 6`
   - In this example, the `+` operator is used to add the numbers 2 and 4, resulting in the sum of 6.

2. Subtraction: `6 - 4 = 2`
   - The `-` operator subtracts 4 from 6, resulting in the difference of 2.

3. Multiplication: `5 * 3 = 15`
   - The `*` operator multiplies 5 and 3, giving the product of 15.

4. Division: `12 / 2 = 6`
   - The `/` operator divides 12 by 2, resulting in the quotient of 6.

5. Exponentiation: `2 ** 3 = 8`
   - The `**` operator raises 2 to the power of 3, giving the result of 8.

6. Modulo: `10 % 3 = 1`
   - The `%` operator calculates the remainder when 10 is divided by 3, which is 1 in this case.

These are just a few examples of arithmetic expressions.

In [7]:
#8code cell to multiply and add numbers
print((3*4)+5)

17

In [6]:
#9code cell to convert minutes into hours
min=int(input("enter min time:"))
hr=int(min/60)
rmin=min%60
print("time in hr:",hr,"hour")
print("time in hr and min:",hr,"hour",rmin,"minutes")

enter min time:200
time in hr: 3 hour
time in hr and min: 3 hour 20 minutes

# 11. Author name
Piyush Mohanty